export RAILS_ENV="development"
export WEB_CONCURRENCY="$(nproc)"
export PUMA_MAX_THREADS="32"
export PUMA_MIN_THREADS="16"
export POOL_SIZE="$((PUMA_MAX_THREADS*WEB_CONCURRENCY))"
export PORT=8080
export RACK_ENV="development"
export GCM_API_KEY=""
export MANDRILL_USERNAME=""
export MANDRILL_API_KEY=""
export SECRET_KEY_BASE="5b76aca614fec1de4e1929eda5c08892c44341d100401789b051b4a8c6156f8fcd4e68df96032f7d8a418b131ca61b773e8532632320535d3dbc3064fc42c83d"
export GMAIL_USERNAME="username"
export GMAIL_PASSWORD="password"
export PARALLEL_TEST_PROCESSORS=$(WEB_CONCURRENCY)
