<div layout="column">

  <md-toolbar layout="row" class="sub-nav-bar" layout-align="start center">
    <h2 class="sub-nav-title">
      Dashboard
    </h2>
  </md-toolbar>

  <md-button class="md-fab btn-add-discount" ng-click="createDiscount($event)">
    <div class="plus-sign">+</div>
  </md-button>

  <div class="dashboard-content">

    <div layout="row" layout-padding layout-align="start start" layout-wrap class="discounts-container">

      <a href="" layout="row" flex="100" class="no-decoration" ng-if="showBackBtn">
        <div class="fa fa-angle-left custom-back"></div>
        <div class="back-label">Back to Dashboard</div>
      </a>

      <div layout="row" flex="100" layout-align="start center">
        <a href="" class="icon-blocks fa fa-th icon-action-dashboard" ng-class="{'dashboard-active-view': dashboardView.thumbsView}" ng-click="dashboardView.showThumbs()">
        </a>
        <a href="" class="icon-rows fa fa-bars icon-action-dashboard" ng-class="{'dashboard-active-view': dashboardView.listView}" ng-click="dashboardView.showList()">
        </a>
      </div>

      <div class="thumb-discount-view" layout="row" layout-wrap>

        <div ng-repeat="discount in client.discounts track by $index" layout="column" class="discount-card">
          <div class="discount-image-container">
            <img src="" class="discount-thumb-logo" />
            <img src="" class="discount-thumb-background" />
            <div class="discount-thumb-title-image">
              {{ discount.title }}
            </div>
          </div>

          <div class="discount-thumb-main-info" layout="row">
            <div ng-class="{ 'active-icon': discount.status }"></div>
            <div class="discount-plan" flex layout="column">
              <div class="discount-thumb-info-name">{{ discount.title }}</div>
              <div class="discount-thumb-info-plan">{{ discount.subscriptions[0].plan.name }}</div>
            </div>
            <div class="discount-next-pay" layout="column">
              <div class="discount-thumb-date">{{ discount.duration }}</div>
              <div class="discount-thumb-date-label">Next Payment</div>
            </div>
          </div>
        </div>

        <div class="discount-card demo-instruction-add-discount" ng-if="client.discounts.length <= 2">
          You can create more discounts by clicking the plus button.
        </div>
      </div>
    </div>

    <div class="questions" layout="column" layout-align="center center">
      <div class="text-questions">Have Questions? We have answers.</div>
      <md-button class="md-raised md-primary btn-contact-us">Contact Us</md-button>
    </div>
  </div>
</div>
