<!DOCTYPE html>
<html>
<head>
  <title>HurryUpDiscount</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body ng-app="hurry_app_discount">
  <div ng-view>
    {{"hello"}}
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
